.BoardScreen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.BoardScreen .Board {
    width: min(100vh, 100vw);
    height: min(100vh, 100vw);
    display: grid;
    /* border: 1px solid black; */
    grid-template-rows: 2fr repeat(9, 1fr) 2fr;
    grid-template-columns: 2fr repeat(9, 1fr) 2fr;
    grid-template-areas:
        'freeparking w5-1 chance2 w5-2 w5-3 railroad3 w6-1 w6-2 company2 w6-3 gotojail'
        'w4-3 center center center center center center center center center w7-1'
        'w4-2 center center center center center center center center center w7-2'
        'communitychest2 center center center center center center center center center communitychest3'
        'w4-1 center center center center center center center center center w7-3'
        'railroad2 center center center center center center center center center railroad4'
        'w3-3 center center center center center center center center center chance3'
        'w3-2 center center center center center center center center center w8-1'
        'company1 center center center center center center center center center tax2'
        'w3-1 center center center center center center center center center w8-2'
        'jail w2-3 w2-2 chance1 w2-1 railroad1 tax1 w1-2 communitychest1 w1-1 go';
}

.BoardScreen .center {
    grid-area: center;
    border: 1px solid black;
}

.BoardScreen .tile {
    overflow: hidden;
    border: 1px solid black;
}
