.PropertyInfo {
    overflow: scroll;
    height: 100%;
}

.PropertyCard {
    background-color: cornflowerblue;
    margin: 5px;
    border-radius: 2px;
}

.PropertyCard .Header {
    padding: 10px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.PropertyCard .Header button {
    background: #fff5;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    padding: 0;
    color: black;
    border: none;
    font-size: 0.5em;
    text-align: center;
}

.PropertyCard .Content {
    padding: 10px;
    color: white;
}

.PropertyInfo .Actions {
    display: flex;
    flex-direction: row;
}

.PropertyInfo .ActionButton {
    margin: 5px;
    flex-grow: 1;
}
