.PropertyHut > p {
    align-self: center;
}

.PropertyHut {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.PropertyHut.selected {
    border: 1px solid white;
}

.PropertyHut > .group {
    flex-basis: 30%;
}
.PropertyHut > span {
    align-self: center;
    text-align: center;
    width: 1.5em;
    display: flex;
    justify-content: center;
}

.PropertyHut.left {
    flex-direction: row-reverse;
}

.PropertyHut.left span {
    transform: rotate(90deg);
}

.PropertyHut.top {
    flex-direction: column-reverse;
}

.PropertyHut.right {
    flex-direction: row;
}

.PropertyHut.right span {
    transform: rotate(-90deg);
}

.owner {
    position: absolute;
    width: min(2vh, 2vw);
    height: min(2vh, 2vw);
    border-radius: min(1vh, 1vw);
    border: min(0.1vh, 0.1vw) solid white;
}

.left .owner {
    top: 0;
    right: 0;
}

.top .owner {
    bottom: 0;
    right: 0;
}

.right .owner {
    bottom: 0;
    left: 0;
}
